langchain
langgraph
langchain-groq
langchain-core
langchain-tavily
langgraph-checkpoint-sqlite

google-api-python-client
google-auth-oauthlib
google-auth-httplib2

python-dotenv
pydantic
tzlocal
parsedatetime
python-dateutil

jupyter
ipython

uvicorn
fastapi[all]